@import 'src/utils/variables.scss';

.info {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.list {
  list-style: none;
  padding: 0;
}

.list > li {
  padding-bottom: 0.5rem;
}

.image {
  border-radius: 2rem;

  @media only screen and (max-width: 600px) {
    width: 100px;
    height: 100px;
  }
}

.button {
  background-color: $gray-color;
  border: none;
  color: $light-yellow-color;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0.2rem;
  cursor: pointer;
}
