@import 'src/utils/variables.scss';

.container {
  display: flex;
  padding: 0 2rem;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}

.searchBox {
  width: 100%;
  position: relative;
  display: flex;
}

.searchInput {
  width: 100%;
  padding: 10px;
  border: 4px solid $light-pink-color;
  border-radius: 10px 0 0 10px;
  border-right: none;
  outline: none;
  font-size: 20px;
  color: $gray-color;
  background: none;
}

.searchButton {
  text-align: center;
  height: 51px;
  width: 40px;
  outline: none;
  cursor: pointer;
  border: 4px solid $light-pink-color;
  border-radius: 0 10px 10px 0;
  border-left: none;
  background: none;
  font-size: 20px;
  border-left: 4px solid $light-pink-color;
}

.icon {
  color: $light-pink-color;
}
