@import 'src/utils/variables.scss';

.loader {
  display: flex;
  justify-self: center;
  align-self: center;
  border: 16px solid $light-yellow-color;
  border-top: 16px solid $light-pink-color;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
