@import 'src/utils/variables.scss';

.container {
  display: flex;
  padding: 2rem;
  flex-direction: column;
}

.pagination {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.paginationNumber {
  background: $gray-color;
  padding: 10px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
